@font-face {
    font-family: 'Norse Bold';
    src: url(Norse-Bold.otf)
}

:root {
    --right-side-background-color: #f4f4f4;
    --form-background: #ffffff;
    --accent: #596D48;
    --accent-hover: #6A7C5A;
    --accent-active: #506241;
    --card-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

*,
*:before,
*:after {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}

div.left-side {
    background-image: url("https://unsplash.com/photos/Z5ruwLaWlOE/download");
    background-size: cover;
    background-position: 55%;
}

.left-side > .title {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    top: 20%;
    gap: 1em;
    padding: 1em;
}

.left-side > .title > img {
    filter: invert(1);
    max-height: clamp(2.5rem, 5vw, 5rem);
    margin: 0;
}

.left-side > .title > h1 {
    font-size: clamp(2.5rem, 5vw, 5rem);
    font-family: 'Norse Bold', sans-serif;
    margin: 0;
    padding-top: 10px;
}

.left-side > footer {
    color: white;
    position: sticky;
    top: 100vh;
    text-align: center;
}

.left-side > footer > a {
    color: white;
}

div.right-side {
    background: var(--right-side-background-color);
}

.right-side > .header {
    padding: 5% 10%;
}

.right-side > .header h1 {
    font-weight: 400;
}

.right-side > .header h1:not(:first-of-type) {
    padding-top: 1em;
}

.right-side > form {
    background: var(--form-background);
    padding: 5% 10%;
    box-shadow: var(--card-box-shadow);
}

.right-side > form > fieldset {
    border: 0;
}

.right-side > form legend {
    font-size: 1.5em;
    width: 80%;
}

.right-side > form div {
    width: 80%;
    margin-top: 1em;
}

.right-side > form input,
.right-side > form label {
    display: block;
    width: 100%;
}

.right-side > form label {
    color: rgb(96, 96, 96);
}

.right-side > form input {
    -webkit-appearance: none;
    appearance: none;
    font-size: 1em;
    line-height: 2em;
    padding: 0 .5em;
    border: 1px solid #E5E7EB;
    border-radius: .1em;
}

.right-side > form input:focus {
    border: 1px solid #90ADFF;
    outline: 1px solid #90ADFF;
}

.right-side > form input:invalid {
    border: 1px solid #ff0000;
}

.right-side button {
    flex-grow: 0;
    background-color: var(--accent);
    color: #FFFFFF;
    padding: 1em 3em;
    border-radius: .5em;
    border: 0;
    font-weight: 700;
    font-size: 1em;
    cursor: pointer;
    margin: 2em 10%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.right-side button:hover {
    background-color: var(--accent-hover);
}

.right-side button:active {
    background-color: var(--accent-active);
}

.right-side > h2 {
    font-weight: 400;
    margin-left: 10%;
}

.right-side a {
    text-decoration: none;
    color: var(--accent);
}

.right-side a:hover {
    color: var(--accent-hover);
}

.right-side a:active {
    color: var(--accent-active);
}

@media (min-width: 40em) {

    section.container {
        display: flex;
        min-height: 100vh;
    
    }

    div.left-side {
        min-width: 40%;
    }

    .left-side > .title {
        background-color: rgba(0, 0, 0, 0.5);
    }

    div.right-side {
        min-width: 60%;
        display: flex;
        flex-flow: column;
        justify-content: center;
    }

    .right-side form > fieldset {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}